*,
header {
	padding: 0;
	margin: 0;
	font-family: elmessiri;
}

body {
	background-color: rgba(253, 253, 253, 0.849);
}
header a span {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid;
	font-family: hind !important;
}
header .menu {
	width: 100%;
	height: 20%;
	margin: 0%;
	border-radius: 0 0 110% 110% !important;
	position: fixed;
	z-index: 1;
	padding: 4% !important;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center !important;
	margin-top: 0% !important;
}
header .div-logo img {
	width: 250% !important;
}

main {
	height: 100%;

	display: flex;

	align-items: flex-end !important;
	justify-content: center;
}
main .row-cards {
	height: 70%;
}
main .row-cards .col-lg-4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

main .row-cards .card {
	height: 80% !important;
	width: 80%;
	background-color: transparent;
	font-size: 17px;
	text-align: center;
}

main .row-cards .card-header {
	color: var(--dark) !important;
	font-size: 30px;
	text-shadow: 2px 2px 2px #0e0e0e17;
}
main .row-cards .card-header div {
	font-family: Hind !important;
	font-weight: bold;
	letter-spacing: 1px;
}
main .row-cards .card-header img {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.281);
	border-radius: 50%;
	padding: 2%;
}

main .row-cards .card-header:hover {
	background-color: #00000025;
}

main table thead tr th,
main table tbody tr td {
	font-family: Hind !important;
	font-weight: bold !important;
	font-size: 14px;
	color: #2f3542;
}
main .content-table {
	height: 80% !important;

	overflow: auto !important;
}

.titre-filiere h2 {
	text-align: center;
	font-family: hind;
	font-weight: bold;
	color: #2f3542;
}
